.card {
    width: 50%;
    display: grid;
    grid-template-areas:
    "photo title title"
    "photo ingredients instructions"
    "photo ingredients instructions";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
    box-shadow: 1px 4px 4px 1px rgba(0,0,25);
    border-radius: 20px;
    padding: 1rem;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.photo {
    grid-area: photo;
}

.title {
    grid-area: title;
}

.ingredients {
    grid-area: ingredients;
}

.instructions {
    grid-area: instructions;
}