@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: "Acme", sans-serif;
}

:root {
    --c-blue:#48b2ff;
    --ff-acme: 'Acme', sans-serif;
}

h1, h2, h3 {
    color: var(c--blue);
}